*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #bee7ed;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search input{
    padding: 15px;
    height: 35px;
    width: 35px;
    font-size: 15px;
    transition: width 0.5s ease;
}
.search .btn{
    cursor: pointer;
    position: absolute;
    height: 35px;
    width: 35px;
    left: 0;
    font-size: 15px;
    border: 2px solid green;
    transition: transform 0.5s ease;
    background-color: rgb(70, 237, 112);
}
.btn:focus,
.search input:focus{
    outline: none;
}
.search.active .input{
    width: 200px;
    margin: 10px;
}
.search.active .btn{
    transform: translateX(220px);
    border-radius:50%;
    border: 2px solid red;
    background-color: rgb(251, 94, 94);
}
